.poem_body {
  margin-left: 5em;
  margin-right: 5em;
}

.line1 {
  text-align: left;
}

.line2 {
  text-align: right;
}

.line3 {
  text-align: center;
}

.line4 {
  color: red;
  /* text-shadow: 2px 5px red; */
}

.line5 {
  padding-top: 6em;
}

#title {
  text-align: center !important;
  /* text-decoration: underline; */
  font-size: larger;
  font-weight: 800;
}
