.poem_body {
  margin-left: 5em;
  margin-right: 5em;
}

.line1 {
  text-align: left;
}

.line2 {
  text-align: right;
}

.line3 {
  text-align: center;
}

.line4 {
  color: red;
}

.line5 {
  padding-top: 6em;
}
